#fireworks-canvas {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
}

#large-counter {
  position: absolute;
  font-size: 500px;
  top: 50%;
  left: 50%;
  width: 600px;
  margin: -300px;
  height: 600px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  line-height: 1;
  color: #fff;
  font-family: 'VT323', monospace;
  pointer-events: none;
}
